/* Navbar */
body {
  margin: 0;
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-dropdown-menu-item:hover {
  background: white !important;
}
/* Navbar End */

.ant-menu-title-content {
  display: flex;
  align-items: center;
  gap: 4px;
}
